<div class="list-transactions-view">
    <navbar></navbar>
    <section class="hero is-primary">
        <div class="hero-body pt-0 pb-2 is-flex is-justify-content-space-between is-align-items-center">
            <div>
                <h1 class="is-size-6  pt-0">Net Worth : {{currencyType}} {{incomeTotal}}</h1>
                <h1 class="is-size-6 pt-0">Net Expense : {{currencyType}} {{expenseTotal}}</h1>
                <h1 class="is-size-6 pt-0">Net in hand : {{currencyType}} {{netInHand}}</h1>
            </div>
            <div class="is-flex is-justify-content-flex-end">
                <h1 class="is-size-6 pt-1 pr-1">Currency</h1>
                <form>
                    <select class="select" v-model="currencyType" @change="changeCurrency">
                        <option selected>CAD</option>
                        <option>INR</option>
                        <option>THB</option>
                    </select>
                </form>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <router-link to="/manage" class="button is-primary mt-5">Create transaction</router-link>
            <h2 class="title is-6 pt-6">Transactions List</h2>
            <div class="card">
                <div class="card-footer">
                    <div class="card-footer-item is-flex-grow-3">Transactions</div>
                    <div class="card-footer-item is-flex-grow-5">Description</div>
                    <div class="card-footer-item is-flex-grow-2">Credit/Debit</div>
                    <div class="card-footer-item is-flex-grow-1">Currency</div>
                    <div class="card-footer-item is-flex-grow-2">Amount</div>
                    <div class="card-footer-item is-flex-grow-1">Delete</div>
                    <div class="card-footer-item is-flex-grow-1">Edit</div>
                </div>
            </div>
            <transaction v-for="transaction in transactions" v-bind:key="transaction.id" v-bind:value="transaction"
                @transaction-deleted="transactionDeleted"></transaction>
        </div>
    </section>
</div>