<div class="transaction-view">
    <div class="card">
        <div class="card-footer">
            <div class="card-footer-item is-flex-grow-3">{{transaction.name}}</div>
            <div class="card-footer-item is-flex-grow-5">{{transaction.description}}</div>
            <div class="card-footer-item is-flex-grow-2">{{transaction.transactionType}}</div>
            <div class="card-footer-item is-flex-grow-1">{{transaction.transactionCurrency}}</div>
            <div class="card-footer-item is-flex-grow-2">{{transaction.amount}}</div>
            <div class="card-footer-item is-flex-grow-1">
                <button class="delete" v-on:click.prevent="deleteTransaction"></button>
            </div>
            <div class="card-footer-item is-flex-grow-1 is-clickable" v-on:click.prevent="editTransaction">
                <img src="./images/edit-3.svg" alt="">
            </div>
        </div>
    </div>
</div>